@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap");

:root {
  --bg-base: #fff;
  --font-base: #462d2d;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Pixelify Sans", sans-serif;
  color: var(--font-base);
  background-color: var(--bg-base);
  margin: 0;
}

/* HEADER */
header .nav-web {
  margin: 1em;
  border: 1px solid black;
  padding: 1em;
}

header .nav-web ul.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

header .nav-mobile {
  display: none;
}

header ul li {
  list-style: none;
}

.nav-web ul.navbar li a {
  padding: 1em 2em;
  text-decoration: none;
  color: #000;
}

.nav-web ul.navbar li a:hover {
  background-color: var(--bg-base);
  border: 1px solid var(--font-base);
  box-shadow: 5px 5px #ddd;
}
/* HEADER */

/* MAIN */
main {
  margin: 2em 0;
  width: 100%;
}

section {
  margin: 5rem 0;
}
/* MAIN */

/* ABOUTME SECTION */
div.aboutme {
  display: flex;
  gap: 0.2rem;
  padding: 0 1rem;
}
div.aboutme div {
  flex: 1;
  display: flex;
  margin: 0 1rem;
  justify-content: center;
}

div.aboutme .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set-skill {
  padding-top: 2rem;
}

.set-skill .skill .skill-icon {
  width: 3rem;
  height: 3rem;
}

.right {
  padding: 1.5rem;
}

.right .img-me {
  position: relative;
  display: inline-block;
  text-align: center;
}

.right .img-me::before {
  content: "";
  width: 15rem;
  height: 15rem;
  position: absolute;
  border: 1px solid black;
  z-index: -88;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 2rem;
  top: -1rem;
  text-align: center;
}
/* ABOUTME SECTION */

/* PROEJCT SECTION */
#projects {
  margin: 1rem 1rem;
}

#projects .moreprojects {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

#projects button {
  background-color: var(--bg-base);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#projects button:hover {
  box-shadow: 5px 5px #ddd;
}

.cont-projects {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

.project {
  width: 18rem;
  height: 18rem;
  border: 1px solid black;
  position: relative;
  padding: 5px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  box-sizing: border-box;
  text-align: center;
}

.project:hover .overlay {
  opacity: 1;
}

.project img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.project:hover img {
  filter: blur(4px);
}
/* PROEJCT SECTION */

/* CONTACT SECTION */
#contact {
  padding: 2rem 0;
  margin: 2rem 1rem;
}

.contact form {
  border: 1px solid black;
  padding: 1.5rem 1rem;
}

.contact form .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.contact form .input label {
  font-size: 1rem;
}

.cont-contact {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin: 1.5rem 0;
}

.cont-contact .contact img {
  width: 2rem;
  height: 2rem;
}

/* CONTACT SECTION */

/* To TOP BUITTON */
#top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: none;
}
/* To TOP BUITTON */

/* FOOTER */
footer {
  background-color: rgb(222, 214, 214);
  color: #000;
  min-height: 2rem;
  border: 1 px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p span {
  font-weight: 900;
  color: rgb(160, 160, 160);
}
/* FOOTER */

/* RESPONSIVE */
/* Large screens (desktops) */
@media (min-width: 992px) {
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .right .img-me::before {
    content: "";
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: 0;
    top: -1.5em;
    border: 1px solid black;
    z-index: -88;
  }

  .cont-projects {
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 1rem; /* Optional: spacing between items */
    justify-self: center;
  }

  /* Target the third child */
  .cont-projects > a:nth-child(3) {
    grid-column: 1 / -1; /* Spans across both columns */
  }

  .cont-projects > a:nth-child(3) .project {
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Small screens (mobiles) */
@media (max-width: 767px) {
  body {
    background-color: #fff;
  }

  header .nav-web {
    display: none;
  }

  header .nav-mobile {
    display: flex;
    position: fixed;
    overflow: hidden;
    z-index: 999;
    bottom: 0;
    width: 100vw;
    background-color: var(--bg-base);
  }

  header .nav-mobile ul.navbar {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    margin: 0;
  }

  header .nav-mobile ul.navbar li {
    display: flex;
    flex: 1;
  }

  header .nav-mobile ul.navbar li a {
    display: flex;
    padding: 1rem; /* Space around the content */
    width: 100%; /* Makes <a> fill the <li> */
    justify-content: center;
    flex: 1;
    border-top: 1px solid var(--font-base);
    border-right: 1px solid var(--font-base);
  }
  header .nav-mobile ul.navbar li a:active {
    background-color: #ddd;
  }

  header .nav-mobile ul.navbar li a img {
    max-width: 2rem;
  }

  .aboutme {
    flex-direction: column-reverse;
  }

  .cont-projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem; /* Optional: spacing between items */
    margin: 0 1.5rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .cont-projects > a {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project {
    width: 100%;
    border: 1px solid black;
    position: relative;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #top {
    display: none;
  }

  footer {
    padding-bottom: 4rem;
  }
}

/* ANIMATION */
@keyframes blip {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Apply Animation */
span.animate-blip {
  animation-name: blip;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
